#body{
  background-color: black;
}

#chatText{
  height: 50px;
  width:  600px;
}

#chatButton{
  position: absolute;
  height: 55px;
  width:  100px;
}

#textbox{
  height: 50px;
  width: 700px;
  position:absolute;
  left:0px;
  top:550px;
}

#chat-list{
  overflow: auto;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  position:absolute;
  top: 0px;
  left:725px;
  border: 1px sold black;
}

.message-wrapper {
    border: 1px solid  grey;
    width: 550px;
    display: inline-block;
}