#body{
	background-color: black;
}

#chatText{
	height: 50px;
	width:  550px;
}

#chatButton{
	height: 50px;
	width:  100px;
}

#textbox{
	height: 50px;
	width: 700px;
	position:absolute;
	left:0px;
	top:550px;
}

#chat-list{
    overflow: auto;
	background-color: tan;
	height: 600px;
	width: 600px;
	position:absolute;
	top: 0px;
	left:700px;
}

.message-wrapper {
    border: 1px solid  grey;
    height: 200px;
    width: 200px;
}